.slider-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  padding: 0 4rem;
}

.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}
.slider-item .image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 3/4;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.slider-item .image-container .badge {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-weight: 700;
}

.slider-item .image-container img {
  object-fit: cover;
}

.slider-item span {
  padding: 10px;
}

/* Default: Show 1 slide */
.slider-item {
  flex: 0 0 100%;
  opacity: 1;
}

/* Show 2 slides on small screens */
@media (min-width: 480px) {
  .slider-item {
    flex: 0 0 50%;
  }
}

/* Show 3 slides on medium screens */
@media (min-width: 768px) {
  .slider-item {
    flex: 0 0 33.33%;
  }
}

/* Show 4 slides on larger screens */
@media (min-width: 1024px) {
  .slider-item {
    flex: 0 0 25%;
  }
}

/* Show 5 slides on extra-large screens */
@media (min-width: 1280px) {
  .slider-item {
    flex: 0 0 20%;
  }
}

.slider-controls {
  position: absolute;
  top: 55%;
  width: 100%;
  display: none;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-controls button {
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 40px;
  opacity: 0.8;
  background-color: transparent;
}

.title {
  margin: 3rem 5rem;
}

.title-center {
  text-align: center;
}

.title-start {
  text-align: start;
}

.title-end {
  text-align: end;
}
